/* color palette from <https://github.com/vuejs/theme> */

:root {}


/* semantic color variables for this project */

:root {}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
}