<script setup>
import { ref, watch } from "vue";

const queryText = ref("");
const responseText = ref("");

const getResponse = async () => {
  responseText.value = "Thinking......";
  const data = { query: queryText.value };
  const response = await fetch("http://localhost:8080/chat", {
    method: "POST",
    headers: {
      "Content-Type": "application/json",
    },
    body: JSON.stringify(data),
  });
  responseText.value = await response.text();
};

watch(queryText, () => {
  if (queryText.value.length < 1) responseText.value = "";
});
</script>

<template>
  <header>
    <div class="text-black p-4">
      <div class="container mx-auto flex items-center gap-4">
        <img src="./assets/logo.png" alt="logo" class="w-10 h-10" />
        <h1 class="text-sm font-bold">RAG</h1>
      </div>
    </div>
  </header>
  <main class="w-[50%] mx-auto">
    <div class="container mx-auto p-8">
      <div class="w-full bg-gray-200 rounded-xl shadow border px-4 py-4 mb-10">
        <p class="text-3xl text-gray-700 font-bold mb-2">RAG with llamaindex</p>
        <p class="text-gray-500 text-md">
          This app allows you ask questions related to the <b>midnight library</b>
          novel and questions about the <b>pysical standards for letters.</b>
        </p>
      </div>

      <div class="prompt-container">
        <h1 class="font-bold text-2xl mb-4">Ask a question</h1>
        <div class="flex w-full rounded-md border border-1 border-gray-300">
          <input
            placeholder="Send your question"
            v-model="queryText"
            class="block w-full rounded-md border-0 py-2 pl-4 pr-20 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6 focus:outline-none"
          />
          <div>
            <button @click="getResponse" class="p-2 border-0">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 256 256"
                fill="currentColor"
                class="size-4"
              >
                <path
                  d="M200 32v144a8 8 0 0 1-8 8H67.31l34.35 34.34a8 8 0 0 1-11.32 11.32l-48-48a8 8 0 0 1 0-11.32l48-48a8 8 0 0 1 11.32 11.32L67.31 168H184V32a8 8 0 0 1 16 0Z"
                ></path>
              </svg>
            </button>
          </div>
        </div>
        <div class="my-4 border-1 p-4 bg-green-100" v-if="responseText.length > 1">
          {{ responseText }}
        </div>
      </div>
    </div>
  </main>
</template>

<style scoped></style>
